var config = {};

config.encryption = {};
config.encryption.pathPrivateKey = '/path/to/privkey.pem';
config.encryption.pathPublicKeyCert = '/path/to/certificate.pem';
config.encryption.pathIntermediateCert = '/path/to/intermediate.pem';

config.storageStrategyToUse = 'Default';

config.storageStrategySettings = {};
config.storageStrategySettings.Default = {};
config.storageStrategySettings.AWSS3 = {};
config.storageStrategySettings.AWSS3.accessKeyId = 'accesskey';
config.storageStrategySettings.AWSS3.secretAccessKey = 'secret';
config.storageStrategySettings.AWSS3.region = 'eu-central-1';
config.storageStrategySettings.AWSS3.bucket = 'my-bucket';

module.exports = config;